.padding-top-10{
  padding-top: 10px;
}

.padding-top-20{
  padding-top: 20px;

}

.padding-top-5{
  padding-top: 5px;
}

@@media (max-width:768px) {
  .input-group{
    margin-bottom: 5px;
  }

}

.brand{
  max-height: 25px;
}

img{
  width: 280px;
  height: 200px;
  float: right;
}
